<div class="buttons">
    <a id="newleadstatus"
        href="{{ url('estimator-wizard/settings/lead-statuses/new') }}"
        class="btn submit add icon">
        {{ "New Lead Status"|t('estimator-wizard') }}
    </a>
</div>